<span class="bg-[#05445E]-100 text-[#D4F1F4]-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-[#D4F1F4]-400 pointer opacity-personalized">
    <slot></slot>
</span>

<style>
    .opacity-personalized:hover{
        opacity: 0.7;
    }

</style>
