<div class="flex flex-col">
  <h2 class="text-2xl font-semibold mb-6">Contact</h2>
  <div class="opacity-80">
    <div>
      <p>
        If you're interested in collaborating or have any job offers, feel free
        to contact me through <a
          class="text-yellow-200"
          href="https://www.linkedin.com/in/jose-jesus-ibanez-cantos/"
          target="_blank">LinkedIn</a
        >. I’m always open to new opportunities and would love to connect with
        you. Looking forward to hearing from you soon!
      </p>
    </div>
  </div>
</div>
