---
const currentYear = new Date().getFullYear();
---

<footer class="flex justify-center py-5 ">
  <div class="text-xs mr-[5px] opacity-80">
    José Ibañez {currentYear}
  </div>
  <div class="text-[8px] opacity-80">
    <div>
      _Inspired by Midudev <a href="https://github.com/midudev/porfolio.dev" target="_blank"
        >project</a
      >
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: #1a1a1a;
    height: 30px;
    padding: 10px;
  }
</style>
