<header
  class="flex flex-wrap justify-center items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <nav class="flex flex-row gap-x-10">
    <a class="lighter" href="#experience">Experience</a>
    <a class="lighter" href="#about">About</a>
    <a class="lighter" href="#projects">Projects</a>
    <a class="lighter" href="#contact">Contact</a>
  </nav>
</header>

<style>
  nav {
    height: 40px;
    padding: 0 10px;
    border: solid 1px rgba(99, 102, 255, 0.5);
    border-radius: 35px;
    display: flex;
    align-items: center;
  }
  .icon-pointer {
    cursor: pointer;
    border-color: red;
  }

  .lighter {
    transition:
      background-color 0.5s ease,
      color 0.5s ease; /* Transición suave para el fondo y el color del texto */
  }

  .lighter:hover {
    color: #fef08a; /* Cambio a amarillo al hacer hover */
  }
</style>
