<div class="flex items-center justify-center space-x-2">
    <div class="w-1/4 border-b border-gray-300"></div> <!-- Línea gris izquierda -->
    <slot /> <!-- Contenido insertado -->
    <div class="w-1/4 border-b border-gray-300"></div> <!-- Línea gris derecha -->
  </div>
